<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>project-1</display-name>
	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MasterFrontControllerServlet</display-name>
		<servlet-name>MasterFrontControllerServlet</servlet-name>
		<servlet-class>com.revature.mastercontrollers.MasterFrontControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterFrontControllerServlet</servlet-name>
		<url-pattern>/reimburse-me/front</url-pattern>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MasterBackControllerServlet</display-name>
		<servlet-name>MasterBackControllerServlet</servlet-name>
		<servlet-class>com.revature.mastercontrollers.MasterBackControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterBackControllerServlet</servlet-name>
		<url-pattern>/reimburse-me/back</url-pattern>
		<url-pattern>/success</url-pattern>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
</web-app>