* {
    font-family: 'Roboto', sans-serif;
    color: black;
}

html,
body {
    animation: fadeIn 0.25s ease-in 0s 1 alternate forwards running;
}

header,
section,
footer {
    animation: fadeInUp 2.5s ease-in-out 0s 1 alternate forwards running;
}

header h1 {
    font-size: 3rem;
    margin: 20px;
    letter-spacing: 2px;
}

#option-container {
    display: block;
    float: left;
    margin: 150px auto;
    width: 100%;
    text-align: center;
}

#option-container::after {
    content: "";
    clear: both;
    display: table;
}

#option {
    display: inline-block;
    width: 15%;
    margin: 20px;
    transition: 0.2s ease-in-out;
}

#option:nth-child(1),
#option:nth-child(4) {
    vertical-align: top;
}
.disabled{
	pointer-events: none;
	opacity: 0.5;
}
#option .fas {
    display: block;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 30px;
}

#option a {
	letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

#option a:hover {
	font-weight: 800;
    text-shadow: 0px 4px 1.5px whitesmoke;
}

#option:hover {
    opacity: 0.8;
}

footer {
    display: block;
    margin: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul li {
    display: inline;
    width: 20%;
    margin: 0 30px;
    float: left;
}

footer nav ul li::after {
    content: "";
    clear: both;
    display: table;
}

footer nav ul li a,
footer nav ul li span {
    color: white;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-contents{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.modal-contents h2{
	font-weight: bold;
	font-size: 1.5rem;
    margin: 20px auto;
    letter-spacing: 2px;
}
.myHelp{
	line-height: 1.5;
}
.myHelp strong{
	font-weight: bold;
}
.myHelp a{
	transition: 0.4s ease-in-out;
}
.myHelp a:hover{
	text-decoration: underline;
	color: #d82111;
}
.close{
	color: #aaa;
    float: right;
    width: 100%;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.close:hover,
.close:focus{
	color: #d82111;
	-webkit-text-stroke: thin black;
	text-decoration: none;
	cursor: pointer;
}