html {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 89, 67, 1) 80%, rgba(211, 14, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 89, 67, 1) 80%, rgba(211, 14, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(232, 89, 67, 1) 80%, rgba(211, 14, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    height: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    animation: fadeIn 0.25s ease-in 0s 1 alternate forwards running;
}

a,
button,
input,
h1 {
    animation: fadeInUp 2.5s ease-in-out 0s 1 alternate forwards running;
}

#head-container {
    margin: 0;
    padding: 10px;
}

#main-section {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#main-section h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: 600;
}

#main-section form input[type="text"],
#main-section form input[type="password"] {
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    text-align: left;
}

#main-section form .button {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

#main-section form .button:hover {
    background-color: tomato;
    color: white;
    text-decoration: underline;
}