@import "reset.css";
@import"./index.css";
@import "home.css";
@import "manager-home.css";
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spin {
  0% { 
  	transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}
.hide{
	display: none;
}
.show{
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-bottom: 5px;
}
.loading{
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #d82111; /* Blue */
  	border-radius: 50%;
  	width: 120px;
  	height: 120px;
    z-index: 10;
    margin: 0 auto;
  	background: rgba(255, 255, 255, 0.5);
  	animation: spin 2s linear infinite;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

textarea:focus,
input:focus,
button:focus {
    outline: none !important;
}